<?xml version="1.0" encoding="utf-8"?>
<LinearLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <TextView
        android:text="単語帳"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/settings_textView1" />
    <Button
        android:text="年号表示設定"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/settings_erashow" />
    <TextView
        android:text="一問一答/テスト"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/settings_textView2" />
    <Button
        android:text="毎回答時に答えを削除するかの設定"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/settings_removeanswer" />
    <Button
        android:text="〇×アニメーション設定"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/settings_marubatsuanimation" />
    <TextView
        android:text="その他"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/settings_textView3" />
    <Button
        android:text="全データ削除"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/settings_removealldata" />
</LinearLayout>
